body{
    display: grid;
    margin: 0px;
}  

@media screen and (max-width: 768px; min-width: 320px )
{
    
}
    
.wrapper{
    
    min-height: 100%;
    display: grid; 
    grid-template: minmax(200px, auto ) 1fr minmax(50px,auto) / 1fr  ;
    grid-template-areas:   " header "
                           "main "
                           "footer";
}
#r{
    
    color: aqua;
}
    
.header{
    background-color: #3f51b5;
    grid-area: header;   
    display: grid;
    width: 1320px; /*fghjhgf*/
    justify-self: flex-end;
}  

.google{
    width: 300px;
    margin-left: 100px;
}

.header_main{
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr / 1fr /1fr;
}

.logo_nav{
   margin-top: 75px;
}
.time_to_travel{
    width: 200px;
    margin-top: 35px;
    margin-left: 120px;
}
p{
    color: aliceblue;
    font-family: Calibri;
    font-size: 40px;
    margin-left: 60px;
    margin-top: 60px;
}

.tl{
    width: 150px;
    margin-top: 55px;
    margin-left: 70px;
}
.main{
    background-color: aquamarine;
    grid-area: main;
    display: grid;
    grid-template: 1fr /1fr / 1fr ;
    
}
.sidebar1{
    grid-area: 1/2;
    width: 200px ;
    
    margin-top: -200px;
     
   background-image: url(%D0%B4%D0%B4%D0%B4%D0%B4.jpg);
    
    
}
.text{
    font-family: Calibri;
    font-size: 35px;
    color: black;
    text-align: center;
    margin: 250px 8px 8px 5px;
       
}


content{
    grid-area: 1/3;
    background-color: #e3f2fd ;
    width: 1119px;
}
h1{
    color: black;
    font-size: 50px;
    margin-left: 55px;
    margin-top: 50px;
    font-family: serif;
    
}
.main_text{
    color: black;
    font-size: 20px;
    width: 700px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.sidebar2{
    grid-area: 1/4;
    width: 200px ;
    background-color:#bbdefb;
   
}

.infograph{
    width: 300px;
    margin-left: 230px;
}
.photo1side2{
    width: 150px;
    margin: 30px 25px;
    
}
.photo2side2{
    width: 150px;
    margin: 30px 25px;
}
.photo3side2{
    width: 160px;
    margin: 30px 20px 15px;
}

.photo4side2{
    width: 150px;
    margin: 40px 25px 15px;
    
}


.footer{
    background-color: blueviolet;
    grid-area: footer;
}
    
    
 .navig{
    text-decoration-line: none;
    color: aliceblue;
    font-family: Arial;
    font-size: 30px;
  text-decoration-line: overline;
}   

h4{
    color: aliceblue;
    text-align: center;
}
    
    
    
    
    